body {
	background-color:rgb(50,50,50);
	background-image:url("/big-throne.png");
	background-position:left -100px bottom;
	background-repeat:no-repeat;
	background-size:600px;
	background-attachment:fixed;
}
div#content {
	/*background-color:rgb(201,184,158);*/
	background-color:rgb(221,204,178);
	width:520px;
	padding:20px;
	margin:0 auto;
}
